.lb-c-comment-bubble {
  position: absolute;
  color: black;
  background-color: white;
  border-radius: .5em;
  padding: 1em;
  width: 12em;
  border: 2px solid black;
}

.lb-c-comment-bubble::before,
.lb-c-comment-bubble::after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.lb-c-comment-bubble::before {
  top: -.7em;
  left: calc(50% - .7em);
  border-width: 0 .7em .7em .7em;
  border-color: transparent transparent black transparent;
}

.lb-c-comment-bubble::after {
  top: -.5em;
  left: calc(50% - .5em);
  border-width: 0 .5em .5em .5em;
  border-color: transparent transparent white transparent;
}