.lb-c-spinner {
  height: 3em;
  width: 3em;
  border-radius: 200px;
  background-image: linear-gradient(to bottom, black 50%, black 50%, white 50%);
  animation: rotate .8s linear infinite;
  border: .5em solid rgba(0, 0, 0, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}