.lb-c-spinner {
  background-color: black;
  border-color: currentColor;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: white;
  height: 6em;
  padding: .1em;
  width: 4em;
}

.lb-c-spinner::after {
  content: attr(data-spinner-text);
  display: block;
  font-size: 65%;
  margin-top: .9em;
  text-align: center;
  text-transform: uppercase;
}

.lb-c-spinner__block {
  border: 1px solid currentColor;
  display: inline-block;
  height: 1.45em;
  margin: .2em .2em 0;
}
.lb-c-spinner__block--25 {
    width: calc(25% - .4em);
}
.lb-c-spinner__block--50 {
    width: calc(50% - .4em);
}
.lb-c-spinner__block--100 {
    width: calc(100% - .4em);
}
.lb-c-spinner__block--animate {
  animation-direction: alternate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: opacity;
}

.lb-c-spinner__block--animate
+ .lb-c-spinner__block--animate {
  animation-delay: .2s;
}
.lb-c-spinner__block--animate
+ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate {
  animation-delay: .3s;
}

.lb-c-spinner__block--animate
+ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate {
  animation-delay: .4s;
}
.lb-c-spinner__block--animate
+ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate {
  animation-delay: .6s;
}
.lb-c-spinner__block--animate
+ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate
~ .lb-c-spinner__block--animate {
  animation-delay: .8s;
}

@keyframes opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: .1;
  }
}
