.lb-c-carousel {
  background-color: black;
  display: block;
  overflow-x: hidden;
  position: relative;
}

.lb-c-carousel__slide {
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.lb-c-carousel__slide--swiping {
  transition: none;
}

.lb-c-carousel__item {
  width: 100vw;
}

.lb-c-carousel__spinner {
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb-c-carousel__spinner--isVisible {
  opacity: 1
}

.lb-c-carousel__ui {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.lb-c-carousel__toolbar {
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: opacity .2s, transform .15s;
  opacity: 0;
}

.lb-c-carousel__toolbar--counter {
  bottom: 1em;
  transform: translateY(10em);
}
.lb-c-carousel__toolbar--controls {
  top: 1em;
  transform: translateY(-10em);
}

.lb-js-carousel__toolbar--isVisble {
	opacity: 1;
	transform: translateY(0);
}
