* {
  outline: 1px solid purple;
}
.lb-c-carousel {
  display: block;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.lb-c-carousel__slide {
  position: absolute;
  transition: transform .5s ease-out;
}

.lb-c-carousel__item {
  display: inline-block;
  width: 100vw;
}
.lb-c-carousel__button {
  pointer-events: all;
  display: inline-block;
  width: 10vw;
}

.lb-c-carousel__navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
