.lb-c-page {
  align-items: center;
  /* is below needed? */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  /* is above needed? */
  display: flex;
  justify-content: center;
}

.lb-c-page__image {
  max-width: 100%;
  vertical-align: bottom;
}
