.lb-c-navigation {
  display: flex;
  height: 100%;
}

.lb-c-navigation__button {
  flex: 1 1 auto;

  /* for debug */
  /*outline: 1px solid blue;*/
}

.lb-c-navigation__button--center {
  flex: 0 0 25%;
  max-width: 160px;
}
