.lb-c-page {
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  /*min-height: 100vh;*/
}

.lb-c-page__image {
  max-width: 100%;
}
